body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04496D;
    color: white;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px; /* Espaço entre os ícones de 30px */
}

.menu img {
    width: 30px;
    height: 30px;
}

#menu-button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 30px; /* Margem à direita de 30px */
    cursor: pointer;
}

#menu-button img {
    width: 30px; /* Definindo tamanho quadrado */
    height: 30px; /* Definindo tamanho quadrado */
}

main {
    text-align: center;
    padding: 20px;
}

main .logo {
    width: 300px; /* Aumentando o tamanho do logo */
    margin-top: 20px;
}

main h1 {
    margin-top: 40px; /* Adicionando mais espaço acima da frase */
}

main .buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Aumentando o espaço acima dos botões */
}

main img {
    width: 200px;
    margin-top: 20px;
}

main .buttons button {
    background-color: #047C8C;
    color: white;
    border: none;
    padding: 20px 40px; /* Aumentando o tamanho dos botões */
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}

main .buttons button:hover {
    background-color: #006666;
}

/* Estilos para a sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px; /* Ajustado de 60px para 100px para adicionar 40px a mais */
    box-shadow: -3px 0 5px rgba(0,0,0,0.2);
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}